In [1]:
import numpy as np 
import pandas as pd
import multiprocessing
import seaborn as sns
import email
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("./spam-classification-data/spam/train.csv")

In [5]:
df.head()

,Subject,Message,Spam/Ham
0,transfers from ees,attached is the latest version of the cost cen...,spam
1,fw : re ivanhoe e . s . d,"fyi , kim .\n- - - - - original message - - - ...",spam
2,re : enerfin meter 980439 for 10 / 00,it did but tetco prorated the flow between the...,ham
3,meoh plant status,the methanol plant has determined extensive re...,ham
4,re : tenaska iv,i tried calling you this am but your phone rol...,spam

In [7]:
df.shape

(30344, 3)

In [14]:
df["Message"].head(1)

0    attached is the latest version of the cost cen...
Name: Message, dtype: object

In [16]:
df.describe()

,Subject,Message,Spam/Ham
count,30344,30294,30344
unique,11715,14285,2
top,start date : 2 / 6 / 02 ; hourahead hour : 24 ;,start date : 2 / 6 / 02 ; hourahead hour : 24 ...,spam
freq,4067,4067,15423

In [18]:
type(df["Message"])

pandas.core.series.Series

In [28]:
df["Message"].str.split("\n")[0]

['attached is the latest version of the cost center assignments for the transfers out of ees . these transfers will be effective july 1 , 2001 and i need to get this to hr by friday , june 1 , 2001 to give them time to get everything effected .',
 "i think i have incorporated all your comments , but please review one more time and make sure we have not included anyone we shouldn ' t have or excluded anyone . you ' ll note that at this point we are not forming east and west risk management cost centers . don and rogers have decided for cost management purposes to leave it consolidated at this point .",
 'once you have signed off on your groupings , rachel massey in corporate planning will be working with each of you to forecast your q 3 and q 4 cost center expense plans .',
 "please let me know asap of any changes and don ' t hesitate to call with questions .",
 'thanks',
 'wade']

In [34]:
def insert_value(dictionary, key, value):
    if key in dictionary:
        values = dictionary.get(key)
        values.append(value)
        dictionary[key] = values
    else:
        dictionary[key] = [value]
    return dictionary

def get_headers(df, header_names):
    headers = {}
    messages = df["Message"]
    for message in messages:
        e = email.message_from_string(str(message))
        for item in header_names:
            header = e.get(item)
            insert_value(dictionary = headers, key = item, value = header) 
    print("Successfully retrieved header information!")
    return headers
header_names = ["Date", "Subject", "X-Folder", "X-From", "X-To"]    
headers = get_headers(df, header_names)

Successfully retrieved header information!

In [64]:
print("\n".join(df["Message"][0].split("\n")[:-2]))

attached is the latest version of the cost center assignments for the transfers out of ees . these transfers will be effective july 1 , 2001 and i need to get this to hr by friday , june 1 , 2001 to give them time to get everything effected .
i think i have incorporated all your comments , but please review one more time and make sure we have not included anyone we shouldn ' t have or excluded anyone . you ' ll note that at this point we are not forming east and west risk management cost centers . don and rogers have decided for cost management purposes to leave it consolidated at this point .
once you have signed off on your groupings , rachel massey in corporate planning will be working with each of you to forecast your q 3 and q 4 cost center expense plans .
please let me know asap of any changes and don ' t hesitate to call with questions .

In [74]:
pd.isnull(df).sum()

Subject      0
Message     50
Spam/Ham     0
dtype: int64

In [75]:
df.dropna(axis=0, inplace=True)

In [76]:
pd.isnull(df).sum()

Subject     0
Message     0
Spam/Ham    0
dtype: int64

In [84]:
def get_messages(df):
    messages = []
    for i in df["Message"]:
        messages.append("\n".join(i.split("\n")[:-2]))
    return messages
body = get_messages(df)

In [85]:
print(body[1])

fyi , kim .
- - - - - original message - - - - -
from : frazier , perry
sent : thursday , march 07 , 2002 2 : 25 pm
to : lebeau , randy ; watson , kimberly ; abdmoulaie , mansoor
subject : re : re ivanhoe e . s . d
just a couple of additional thoughts , the cost estimate for esd mods of $ 130 , 000 will typically be , about 25 % more . the e abdmoulaie , mansoor ; frazier , perry
subject : fw : re ivanhoe e . s . d
here is an estimate for the upgrade to the ivanhoe esd system . please keep in mind that the hp at the location has not been in operation for several years and if it is ever required , we may be looking a major expense for that , too . ( $ 200 , 000 + or - )
- - - - - original message - - - - -
from : jordan , fred
sent : thursday , march 07 , 2002 7 : 24 am
to : lebeau , randy
subject : re ivanhoe e . s . d
fyi
- - - - - - - - - - - - - - - - - - - - - - forwarded by fred jordan / et & s / enron on 03 / 07 / 2002 07 : 10 am - - - - - - - - - - - - - - - - - - - - - - - - - - -
>
eddie pool
03 / 07 / 2002 07 : 13 am
to : fred jordan / et & s / enron @ enron
cc :
subject : re ivanhoe e . s . d
fred